# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

spacy
fastapi
uvicorn
scikit-learn
numpy
sentence-transformers
transformers
torch
setuptools-rust